body {
    background-color: lightgray;
}

h1 {
    background-color: white;
    margin-right: 30px;
}
.box{
    background-color: white;
    text-align: center;
    margin-left: 420px;
    margin-right: 420px;
    margin-top: 90px;
    margin-bottom: 90px;
}

input[type=email], input[type=password] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 50px;
    border-width: 2px;
}

.line {
    margin-right: 365px;
}

  
input[type=submit] {
    text-align: center;
    background-color: green;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 75%;
    margin-right: 55px;
}

img {
    width: 10%;
}
